<footer class="site-footer">
  <div class="footer-inner">
    <a href="https://verdantbrewing.co/blogs/brewing-folk"><img src="https://player.brewingfolk.co/assets/vrdntBF.png" alt="<%= settings.siteName %> &mdash; <%= settings.siteTagline %>" /></a>
    <span><%= settings.siteName %> &mdash; <%= settings.siteTagline %></span>
    <span>&copy; <%= new Date().getFullYear() %> Brewing Folk</span>
  </div>
</footer>
