<%- include('partials/head', {title: 'Contributors'}) %>
<body>
<%- include('partials/header') %>

<main>

  <h1 class="contributors-page-heading">Contributors</h1>

  <div class="contributors-list">
    <% contributors.forEach(function(c) { %>
    <a href="/contributor/<%= c.slug %>" class="contributor-list-item">
      <% if (c.image) { %>
        <img src="<%= c.image %>" alt="<%= c.name %>" class="contributor-list-img">
      <% } else { %>
        <div class="contributor-list-img-placeholder">
          <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ccc" stroke-width="1.5"><circle cx="12" cy="8" r="4"/><path d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/></svg>
        </div>
      <% } %>
      <div class="contributor-list-body">
        <div class="contributor-list-name"><%= c.name %></div>
        <% if (c.bio) { %><div class="contributor-list-bio"><%= c.bio %></div><% } %>
        <div class="contributor-list-count"><%= c.showCount || 0 %> <%= (c.showCount === 1) ? 'show' : 'shows' %></div>
      </div>
    </a>
    <% }) %>
  </div>

</main>

<%- include('partials/footer') %>
<%- include('partials/player') %>
<script src="/js/main.js"></script>
</body>
</html>
